{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head
	     content must come *after* these tags -->
	<title>Alenber</title>
	<!-- Bootstrap -->
	<link rel='icon' type="image/png" href="{% static 'subast/img/colibri-15.png' %}">
	<link href="{% static 'subast/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'subast/css/bootstrap-theme.min.css' %}" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,300,300italic,600,600italic' rel='stylesheet' type='text/css'>
	<link href="{% static 'subast/css/style.css' %}" rel="stylesheet">
</head>
<body>

	<header>
		<div class="container-fluid">
			<div class="row row-eq-height">
				<div class="logo-header col-xs-12 col-sm-2 col-center">
					<img class="image-logo img-responsive center-block" src="{% static 'subast/img/colibri-V3-white.png' %}" alt="Logo Image">
					<h3 class="text-center">Alenber.com</h3>
				</div>
				<div class="bg-header col-xs-12 col-sm-10">
					<div class="row">
						<div class="col-sm-8 text-center">
							<div>
								<h1>Publica lo que requieres y encuentra a tus proveedores</h1>
							</div>
							<br>

							<div class="row row-eq-height">
								<div class="col-sm-3 text-center">
									<img class="img-responsive center-block" src="{% static 'subast/img/1-Pub-Req-68-white.png'%}">
									<h4>1. Publica tu requerimiento en www.colibri-supplier.com</h4>
								</div>
								<div class="col-sm-1 col-center">
									<img class="img-responsive center-block" src="{% static 'subast/img/102-Siguiente-white-30.png' %}">
								</div>
								<div class="col-sm-3 text-center">
									<img class="img-responsive center-block" src="{% static 'subast/img/2-Recibir-Cotizacion-68-white.png' %}">
									<h4>2. Diversos proveedores envían sus cotizaciones por este portal</h4>
								</div>
								<div class="col-sm-1 col-center">
									<img class="img-responsive center-block" src="{% static 'subast/img/102-Siguiente-white-30.png' %}">
								</div>
								<div class="col-sm-3 text-center">
									<img class="img-responsive center-block" src="{% static 'subast/img/3-Sel-MejorCotiza-68-white.png'%}">
									<h4>3. El sistema te presentará las cotizaciones ordenada</h4>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="jumbotron">
			<div class="container">
				<div class="row">
					<div class="col-sm-offset-1 col-sm-9">
						<!-- <form> -->
							<div class="input-group">
								<label class="sr-only" for="searchInput">Buscar Requerimientos</label>
								<input class="form-control"type="search" placeholder="Buscar requerimientos">
								<span class="input-group-btn"><button class="btn btn-info"><img class="image-button" src="{% static 'subast/img/83-Lupa-white.png' %}">Buscar</button></span>
							</div>
						<!-- </form> -->
					</div>
					<div class="col-sm-2">
						<a href="{% url 'order_new' company.name%}"><button class="btn btn-warning"><img class="image-button" src="{% static 'subast/img/5-Pub-Req--24-white-px.png' %}"> Publicar requerimiento</button></a>
					</div>
				</div>
			</div>
		</div>

	</header>

	<div class="container">
		<div class="row">
			<div class="col-sm-offset-1 col-sm-9">
				<ul class="list-unstyled list-margin" data-bind="foreach: orderList">
					<li>
						<div class="row">
							<div class="thumbnail col-sm-2 logo-company">
								<img class="img-responsive center-block" data-bind="attr: { src: '{% get_media_prefix%}' + $data.companyLogo()}">
							</div>

							<div class="col-sm-8">

								<div class="row">
									<div class="col-xs-12">
										<h4><a data-bind="visible: $data.requirements().length == 1, attr: { href: 'orders/' + $index() }"><span data-bind="text: $data.requirements()[0].name"></span> :: <span data-bind="text: $data.requirements()[0].quantity"></span><small class="text-center urgent-label" data-bind="visible: $data.isUrgent">Urgente</small></a></h4>

										<h4><a data-bind="visible: $data.requirements().length > 1, attr: { href: 'orders/' + $index() }"><span data-bind="text: $data.name"></span><small class="text-center urgent-label" data-bind="visible: $data.isUrgent">Urgente</small></a></h4>

									</div>
								</div>

								<div class="row">
									<div class="col-xs-12">
										<h4><small>Solicitado por <a href="#" data-bind="text: $data.company"></a><span> .Publicado <span data-bind="text: $data.datePublish"></span></span></small></h4>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12">
										<ol class="list-unstyled" data-bind="foreach: requirements">
											<li>
												<h5><a href="#" data-bind="visible: $parent.requirements().length > 1"><span data-bind="text: ( $index() + 1 ) + '. ' + $data.name"></span> :: <span data-bind="text: $data.quantity"></span></a></h5>
												<ul class="list-inline" data-bind=" visible: $parent.requirements().length == 1, foreach: technicalDetails">
													<li><span data-bind="text: $data.name"></span><span>: </span><span data-bind="text: $data.value"></span></li>

												</ul>
											</li>
										</ol>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-4 col-sm-3">
										<div class="row">
											<div class="col-xs-3">
												<img src="{% static 'subast/img/40-Pointern-30.png' %}">
											</div>
											<div class="col-xs-9">
												<span>Entregar en:</span>
												<div>
													<span data-bind="text: $data.place"></span>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xs-4 col-sm-3">
										<div class="row">
											<div class="col-xs-3">
												<img src="{% static 'subast/img/41-To-pay-30.png' %}">
											</div>
											<div class="col-xs-9">
												<span>Pago:</span>
												<div>
													<span data-bind="text: $data.payType"></span>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xs-4 col-sm-3">
										<div class="row">
											<div class="col-xs-3">
												<img src="{% static 'subast/img/42-Cot-Recibidas-30.png' %}">
											</div>
											<div class="col-xs-9">
												<span>Cotizaciones recibidas:</span>
												<span>
													<span data-bind="text: $data.cotizations"></span>
												</span>
											</div>
										</div>
									</div>

									<div class="col-sm-3">
										<a data-bind="attr: { href: 'orders/' + $index() }" class="btn btn-default btn-cotization"><span><img src="{% static 'subast/img/6-Pub-Req-36.png' %}"> Enviar Cotización</span></a>
									</div>
								</div>

							</div>
						</div>
					</li>
				</ul>
			</div>

			<aside class="col-sm-2">
				<h3>Categorías</h3>
				<div>
					<h4>Publicadores</h4>
					<ul class="list-unstyled" data-bind="foreach: publisherList">
						<li>
							<h5 class="filter"><span data-bind="text: $data.name"></span><small data-bind="text: ' (' + $data.publications() + ')'"></small><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></h5>
						</li>
					</ul>

					<div>
						<label data-bind="click: addPublisher">+Añadir</label>
					</div>
				</div>

				<div>
					<h4>Sector</h4>
					<ul class="list-unstyled" data-bind="foreach: sectorList">
						<li>
							<h5 class="filter"><span data-bind="text: $data.name"></span><small data-bind="text: ' (' + $data.publications() + ')'"></small><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></h5>
						</li>
					</ul>
				</div>

				<div>
					<h4>Fecha de publicación</h4>
					<ul class="list-unstyled" data-bind="foreach: dateList">
						<li>
							<h5 class="filter"><span data-bind="text: $data.name"></span><small data-bind="text: ' (' + $data.publications() + ')'"></small><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></h5>
						</li>
					</ul>
				</div>

				<div>
					<h4>Lugar</h4>
					<ul class="list-unstyled" data-bind="foreach: placeList">
						<li>
							<h5 class="filter"><span data-bind="text: $data.name"></span><small data-bind="text: ' (' + $data.publications() + ')'"></small><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></h5>
						</li>
					</ul>
				</div>
			</aside>

		</div>
		<footer>
			<div class="row">
				<div class="col-sm-12">
					<nav>
						<ul class="pagination">
							<li class="disabled">
						      <a href="#" aria-label="Previous">
						        <span aria-hidden="true">&laquo;</span>
						      </a>
						    </li>
						    <li class="active"><a href="#">1</a></li>
						    <li><a href="#">2</a></li>
						    <li><a href="#">3</a></li>
						    <li><a href="#">4</a></li>
						    <li><a href="#">5</a></li>
						    <li>
						      <a href="#" aria-label="Next">
						        <span aria-hidden="true">&raquo;</span>
						      </a>
						    </li>
						</ul>
					</nav>
				</div>
			</div>
		</footer>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'subast/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'subast/js/knockout-3.4.0.js' %}"></script>
    <script src="{% static 'subast/js/main.js' %}"></script>
</body>
</html>